@import 'tailwindcss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #2A4947;
  --color-secondary: #538890;
  --color-accent: #E6f1EB;
  --color-accent1:#BEDACB;
  --color-yellow:#A89C34;
  --color-red:#dd8452;
}
/* @theme{
  --color-primary: #2A4947;
  --color-secondary: #538890;
  --color-accent: #E6F1EB;
} */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-header-center .ag-header-cell-label {
  justify-content: center;
}

.ag-cell {
  font-family: inherit;
  font-size: 13px;
}

.ag-row {
    border-bottom: 1px solid #9BBCC1; /*  desired border */
}

.ag-paging-panel {
  color: var( --color-secondary);
  font-weight:400;
}